{% load static %}

{% block content %}
<section class="password_reset_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>Reset Password</h2>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="form_container">
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Set New Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
